<script type="text/javascript" src="/assets/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/assets/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/assets/umeditor/lang/zh-cn/zh-cn.js"></script>
<% @item_types.each_with_index do |item_type, index| %>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%= item_type.name %></label>
    <div class="col-sm-10">
      <% if item_type.content_type==Settings.content_type.text %>
        <input name="items[<%= @items[index] ? @items[index].id : item_type.id %>]" type="text" class="form-control" value="<%= @items[index].value if @items[index] %>">
      <% elsif item_type.content_type==Settings.content_type.rich_text %>
        <link href="/assets/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
        <script id="items_<%= item_type.id %>" name="items[<%= @items[index] ? @items[index].id : item_type.id %>]" type="text/plain" style="height: 240px" class="article_tip form-control"></script>
        <script type="text/javascript">
          //实例化编辑器
        var um = UM.getEditor('items_<%= item_type.id %>', {imageUrl: "/attachment/upload", imagePath: ""});
        um.setContent('<%= raw(@items[index].value.chomp) if @items[index] %>');
        </script>
      <% elsif item_type.content_type==Settings.content_type.geo %>
        <input name="items[<%= @items[index] ? @items[index].id : item_type.id %>]" type="text" class="form-control" value="<%= @items[index].value if @items[index] %>">
      <% elsif item_type.content_type==Settings.content_type.attachment %>
        <input name="items[<%= @items[index] ? @items[index].id : item_type.id %>]" type="file" class="form-control" >
      <% elsif item_type.content_type==Settings.content_type.image %>
        <% if @items[index]  %>
          <%= image_tag @items[index].attachments.first.asset_url, class: "img-responsive" %>
        <% end %>

        <input name="items[<%= @items[index] ? @items[index].id : item_type.id %>]" type="file" class="form-control" value="">
      <% elsif item_type.content_type==Settings.content_type.video %>
        <input name="items[<%= @items[index] ? @items[index].id : item_type.id %>]" type="file" class="form-control" value="<%= @items[index].value if @items[index] %>">
      <% end %>
    </div>
  </div>
<% end %>

