<div class="panel panel-default">
  <div class="panel-heading">
    <i class="icon-user-follow"></i>
    <%=@info_type.desc  %>
    <%= operation_to @info_actions, "新建", new_admin_info_type_info_path(@info_type), class: "btn btn-default btn-sm" %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover b-t b-light">
      <thead>
        <tr>
          <th>标题</th>
          <% @info_type.item_types.each do |item_type| %>
            <% if item_type.if_title == 1  %>
              <th><%= item_type.name  %></th>
            <% end %>
          <% end %>
          <th style="width:80px">创建人</th>
          <th style="width:150px">创建时间</th>
          <th style="width:150px">修改时间</th>
          <th style="width:250px">操作</th>
        </tr>
      </thead>
      <tbody>
        <% if @infos.blank? %>
          <tr class = "text-center">
            <td colspan=4 >暂无任何信息</td>
          </tr>
          <% end %>
        <% @infos.each do |info|%>
          <tr>
            <td><%= title_str(info.title) %><%= raw(top?(info)) %><%= raw(new?(info)) %></td>
            <% info.items.each_with_index do |item,index| %>
              <% if @info_type.item_types[index].if_title == 1 %>
                <td><%= item.value %></td>
              <% end %>
            <% end %>
            <td><%= info.user.username  %></td>
            <td><%= time_f(info.created_at)  %></td>
            <td><%= time_f(info.updated_at)%></td>
            <td>
              <%= operation_to @info_actions, '显示', admin_info_type_info_path(@info_type, info), class: "btn btn-default btn-sm" %>
              <%= operation_to @info_actions, (info.top ? '取消置顶' : '置顶'), top_admin_info_type_info_path(@info_type, info), {class: "btn btn-default btn-sm", method: :put}, self_info?(info) %>
              <%= operation_to @info_actions, '编辑', edit_admin_info_type_info_path(@info_type, info), { class: "btn btn-default btn-sm" }, self_info?(info) %>
              <%= operation_to @info_actions, '删除', admin_info_type_info_path(@info_type, info), { method: :delete, data: { confirm: '确认要删除吗?' },class: "btn btn-default btn-sm"}, self_info?(info)%>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
        <small class="text-muted inline m-t-sm m-b-sm">记录数:<%= @infos.size %></small>
      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <%= paginate @infos %>
      </div>
    </div>
  </footer>
</div>

