
<tr class="info_permission" data-info-id="<%= info_permission.id %>" >
  <td><%= info_permission.info_name %></td>
  <td><%= info_permission.desc %></td>
  <td><%= info_permission.actions.join(",") %></td>
  <td><%= time_f(info_permission.created_at) %></td>
  <td>
    <%= link_to "删除", destroy_info_permission_admin_role_path(info_permission, info_permission_id: info_permission.id), remote: true, class: "btn btn-default btn-sm", method: :delete, data: { confirm: "确认要删除吗？" }%>
  </td>
</tr>
