<%= form_for(@user_ceshi) do |f| %>
  <% if @user_ceshi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_ceshi.errors.count, "error") %> prohibited this user_ceshi from being saved:</h2>

      <ul>
      <% @user_ceshi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
