<p id="notice"><%= notice %></p>

<h1>Listing Demo Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Pagecount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demo_books.each do |demo_book| %>
      <tr>
        <td><%= demo_book.name %></td>
        <td><%= demo_book.author %></td>
        <td><%= demo_book.pagecount %></td>
        <td><%= link_to 'Show', demo_book %></td>
        <td><%= link_to 'Edit', edit_demo_book_path(demo_book) %></td>
        <td><%= link_to 'Destroy', demo_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_demo_book_path %>
