<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @demo_book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @demo_book.author %>
</p>

<p>
  <strong>Pagecount:</strong>
  <%= @demo_book.pagecount %>
</p>

<%= link_to 'Edit', edit_demo_book_path(@demo_book) %> |
<%= link_to 'Back', demo_books_path %>
