<script src="/js/cropper.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/css/cropper.min.css" type="text/css" media="all"/>
<%= simple_form_for [:card, @self_apply_card],  :html => {class: "form-horizontal", multipart: true} do |f| %>
  <%= f.input :expo_id, as: :hidden,  input_html: {value: @expo.id} %>
  <%= f.input :card_type_id, as: :hidden, input_html: {value: @card_type.id} %>
  <% @card_fields.each do |field| %>
    <% if field[:name] == "gender" %>
      <%= f.input field[:name],hint: field[:desc], required: field[:rq] ? false : true, label: field[:title], collection: ['男', '女'], selected: '男' %>
    <% elsif field[:type] == "Date" %>
      <%= f.input field[:name],hint: field[:desc], required: field[:rq] ? false : true, as: :date, label: field[:title], html5: true %>
    <% else %>
      <%= f.input field[:name], hint: field[:desc], required: field[:rq] ? false : true, label: field[:title] %>
    <% end %>
  <% end %>
  <div class="text-center">
    <%= f.button :submit, "上 报", class: "btn btn-info" %>
    <%= link_to "返 回", new_card_self_apply_card_path(step: 1), class: "btn btn-default" %>
  </div>
<% end %>
<div class="modal fade" id="cropper-example-2-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        裁剪照片
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="cropper-example-2" style="width:300px;float:left">
            <label style="float: left">照片：</label><%= ajax_upload_photo %>
          <img id="photo" src="/images/qr.jpg" alt="Picture">
        </div>
        <div class="img-preview preview-lg">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button">保存</button>
    </div>
  </div>
</div>
</div>
<!--
<button class="btn btn-primary" data-toggle="modal" data-target="#cropper-example-2-modal" type="button">Launch the
  demo
</button>
-->
<style type="text/css" media="all">
  .img-preview {
    float: left;
    margin: 40px;
    overflow: hidden;
  }

  .preview-lg {
    width: 100px;
    height: 100px
  }
</style>
<script type="text/javascript" charset="utf-8">
  var $image = $('#cropper-example-2 > img'),
    cropBoxData,
  canvasData;

  $('#cropper-example-2-modal').on('shown.bs.modal', function () {
  }).on('hidden.bs.modal', function () {
    cropBoxData = $image.cropper('getCropBoxData');
    alert(cropBoxData);
    canvasData = $image.cropper('getCanvasData');
    alert(canvasData);
    $image.cropper('destroy');
  });
</script>
