<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav="" class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>后台管理</span>
          </li>

          <li class="line dk"></li>

          <% if display_nav?("expos")  %>
            <li>
              <%= side_menu_name "基础管理"%>
              <ul class="nav">
                <%=side_menu_item "/card/expos/new","新建会展"%>
                <%=side_menu_item "/card/expos","会展列表"%>
                <%=side_menu_item "/card/card_types/new","新建卡证类型"%>
                <%=side_menu_item "/card/card_types","卡证类型列表"%>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>

          <% if current_user.type == "admin" or current_user.type == "organizer"  %>
            <li>
              <%= side_menu_name "账号管理"%>
              <ul class="nav">
                <% if current_user.type == "admin"  %>
                  <%=side_menu_item "/card/organizers/new","新建主办方"%>
                  <%=side_menu_item "/card/organizers","主办方列表"%>
                <% end %>
                <% if current_user.type == "organizer"  %>
                  <%=side_menu_item "/card/exhibitors/new","新建参展商"%>
                  <%=side_menu_item "/card/exhibitors","参展商列表"%>
                <% end %>

              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>


          <% if current_user.type == "admin"  %>
            <li>
              <%= side_menu_name "审核管理"%>
              <ul class="nav">
                <%#=side_menu_item "/card/check/exhibitors","待审核参展商信息"%>
                <%=side_menu_item "/card/check/cards","参展商待审核卡证"%>
                <%=side_menu_item "/card/check/self_apply_cards","专业观众审核卡证"%>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>

          <% if display_nav? "payment_check" %>
            <li>
              <%= side_menu_name "缴费管理"%>
              <ul class="nav">
                <%=side_menu_item "/card/payment_check/exhibitors","待审核缴费清单"%>
                <%=side_menu_item "/card/payment_check/exhibitors?check=ok","已审核交费清单"%>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>


          <% if current_user.type == "exhibitor"  %>
            <li>
              <%= side_menu_name "申请办卡"%>
              <ul class="nav">
                <%#=side_menu_item "/card/cards/new?step=1","上报人员信息"%>
                <%=side_menu_item "/card/cards","上报人员信息"%>
                <%=side_menu_item "/card/cards?commit=ok","已提交人员信息"%>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>

          <% if current_user.type == "admin"  %>
          <li>
            <%= side_menu_name "制卡"%>
            <ul class="nav">
              <%=side_menu_item "/card/make","参展商待制卡表"%>
              <%=side_menu_item "/card/make/index_printed","参展商已制卡表"%>
              <%=side_menu_item "/card/make/self_index","专业观众待制卡表"%>
              <%=side_menu_item "/card/make/self_index_printed","专业观众已制卡表"%>
            </ul>
          </li>
          <li class="line dk hidden-folded"></li>
          <% end %>

          <% if display_nav? "users" and current_user.type == "admin"%>
            <li>
              <a href="" class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-th"></i>
                <span>用户管理</span>
              </a>
              <ul class="nav">
                <li>
                  <%= link_to "新增用户", new_admin_user_path %>
                </li>
                <li>
                  <%= link_to "用户列表", admin_users_path %>
                </li>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>

          <% if display_nav? "roles" %>
            <li>
              <a href="" class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-th"></i>
                <span>角色管理</span>
              </a>
              <ul class="nav">
                <li>
                  <%= link_to "新建角色", new_admin_role_path %>
                </li>
                <li>
                  <%= link_to "角色列表", admin_roles_path %>
                </li>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          <% end %>


          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>个人管理</span>
          </li>
          <li>

            <a href="/admin/users/changepass">
              <i class="icon-user icon text-success-lter"></i>
              <span>修改密码</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- nav -->

    </div>
  </div>
</aside>
