<div class="content">
  <div class="cont_bar">
    <ul>
      <li class="audience"><%= link_to "专业观众登记", new_user_registration_path(user_type: 'professional_visitor', step: 1) %></li>
      <li class="exhibitors"><%= link_to "参展商登记", new_user_registration_path(user_type: 'exhibitor', step: 1) %></li>
      <li class="booth"><a href="/position_img">展位图</a></li>
      <li class="advisory"><a href="http://wpa.qq.com/msgrd?v=3&uin=2794925004&site=qq&menu=yes" target="_blank">咨询</a></li>
      <li class="countdown lxftime" endtime="<%= @deadline.items[0].value %> 0:0:0"><span class="countdown_time">距离展会时间：</span><span>168</span>天<span>11</span>小时<span>9</span>分<span>25</span></li>
    </ul>
  </div>
  <div class="content_index">
    <div class="news_index">
      <div class="news_title"><a href="/news" class="more">更多</a>最新动态</div>
      <div class="news_cont">
        <ul class="news_list_index">
          <% @hot_news.each_with_index  do |news,index|%>
            <li>
              <% if is_new? news  %>
                <img src="/images/new.png" alt="" />
              <% end %>
              <span class="time"><%= date_f(news.created_at) %></span>
              <div class="<%= news.top ? 'news_top' : '' %>">
                <a href="/news/infos/<%= news.id %>" title=""><%= news.title %></a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%#<div class="video_index">%>
      <%#<div class="video_title">APP 下载</div>%>
      <%#<div class="video_cont"><a target="_blank" href=""><img src="/cpse/pic.jpg"></a></div>%>
      <%#</div>%>
    <div class="weibo_index">
      <div class="weibo_title">
        展会简介
      </div>
      <div class="about_cont">
        <div style="padding:20px">
          <%= raw @basic_info.items[0].value %>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="picbox">
      <ul class="piclist mainlist">
        <% if false %>
          <% @img_infos.each  do |img_info| %>
            <li>
              <a href="<%= img_info.items.first.attachments.last.asset_url %>" class="fancybox" title="<%= img_info.title %>">
                <img src="<%= img_info.items.first.attachments.last.asset_url  %>" width="220px" height="105px" />
              </a>
              <span style="position: absolute; top: 95px; text-align:center; width:220px;background-color:#ccc;"><%= img_info.title %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="piclist swaplist"></ul>
    </div>
    <div class="og_prev"></div>
    <div class="og_next"></div>
  </div>

  <center>
    <!-- picrotate_left start  -->
    <div class="blk_18"> 
      <a class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseup="ISL_StopUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:void(0);" target="_self"></a>
      <div class="pcont" id="ISL_Cont_1">
        <div class="ScrCont">
          <div id="List1_1">
            <!-- piclist begin -->
            <% @img_infos.each  do |img_info| %>
              <a href="<%= img_info.items.first.attachments.last.asset_url %>" class="fancybox pl" title="<%= img_info.title %>">
                <img src="<%= img_info.items.first.attachments.last.asset_url  %>" width="170px" height="100px" />
                <%= img_info.title %>
              </a>
            <% end %>
          </div>
          <div id="List2_1">
            <% @img_infos.each  do |img_info| %>
              <a href="<%= img_info.items.first.attachments.last.asset_url %>" class="fancybox pl" title="<%= img_info.title %>">
                <img src="<%= img_info.items.first.attachments.last.asset_url  %>" width="170px" height="100px" />
                <%= img_info.title %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
      <a class="RightBotton" onmousedown="ISL_GoDown_1()" onmouseup="ISL_StopDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:void(0);" target="_self"></a> </div>
    <div class="c"></div>
    <!-- picrotate_left end -->
  </center>



  <div class="about_cpse">
    <div class="basic_info">
      <div class="title" style="font-size:14px;"><a href="/about/infos/<%= @zg_info.id %>"><span><%= @zg_info.title %></span></a></div>
      <div class="basic_info_cont"><span class="img_box"><img src="/cpse/basic_info.jpg"></span>
        <%= raw @zg_info.items[0].value %>
      </div>
    </div>
    <div class="brilliant">
      <div class="title" style="font-size:14px;"><a href="/about/infos/<%= @basic_info.id %>"><span>微信平台</span></a></div>
      <div class="brilliant_cont">
         <img src="/images/weixin.png" alt="" />
      </div>
    </div>
  </div>
  <hr style=" margin:0 40px;">
  <div class="partners"><!--<span>合作伙伴</span>-->
    <% @links.each do |link| %>
      <a href="<%= link.items[0].value %>" title="<%= link.title %>" target="_blank"><img src="<%= link.items[1].attachments[0].asset %>"></a>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    // Set custom style, close if clicked, change title type and overlay color
    $(".fancybox").fancybox({
      wrapCSS    : 'fancybox-custom',
      closeClick : true,

      openEffect : 'none',

      helpers : {
        title : {
          type : 'inside'
        },
        overlay : {
          css : {
            'background' : 'rgba(238,238,238,0.85)'
          }
        }
      }
    });
  });
</script>

<style type="text/css">
  .blk_18 { overflow:hidden; zoom:1; font-size:9pt; border:1px solid #e3e3e3; background:#eee; width:980px; margin-top:8px; }
  .blk_18 .pcont { width:920px; float:left; overflow:hidden; padding-left:5px; }
  .blk_18 .ScrCont { width:32766px; zoom:1; margin-left:-5px; }
  .blk_18 #List1_1, .blk_18 #List2_1 { float:left; }
  .blk_18 .LeftBotton, .blk_18 .RightBotton { width:15px; height:74px; float:left; background:url(js/ax.gif) no-repeat; }
  .blk_18 .LeftBotton { background-position: 0 0; margin:8px 5px 0; }
  .blk_18 .RightBotton { background-position: 0 -100px; margin:8px 1px 10px 5px; }
  .blk_18 .LeftBotton:hover { background-position: -20px 0; }
  .blk_18 .RightBotton:hover { background-position: -20px -100px; }
  .blk_18 .pl img { display:block; cursor:pointer; border:none; margin:6px auto 1px auto; }
  .blk_18 .pl { width:182px; border:1px solid #f3f3f3; float:left; float:left; text-align:center; line-height:24px; }
  .blk_18 a.pl:hover { border:1px solid #5dacec; color:#5dacec; background:#fff; }
</style>
<script type="text/javascript">

  var Speed_1 = 10; //速度(毫秒)
  var Space_1 = 20; //每次移动(px)
  var PageWidth_1 = 107 * 6; //翻页宽度
  var interval_1 = 5000; //翻页间隔时间
  var fill_1 = 0; //整体移位
  var MoveLock_1 = false;
  var MoveTimeObj_1;
  var MoveWay_1="right";
  var Comp_1 = 0;
  var AutoPlayObj_1=null;
  function GetObj(objName){if(document.getElementById){return eval('document.getElementById("'+objName+'")')}else{return eval('document.all.'+objName)}}
  function AutoPlay_1(){clearInterval(AutoPlayObj_1);AutoPlayObj_1=setInterval('ISL_GoDown_1();ISL_StopDown_1();',interval_1)}
  function ISL_GoUp_1(){if(MoveLock_1)return;clearInterval(AutoPlayObj_1);MoveLock_1=true;MoveWay_1="left";MoveTimeObj_1=setInterval('ISL_ScrUp_1();',Speed_1);}
  function ISL_StopUp_1(){if(MoveWay_1 == "right"){return};clearInterval(MoveTimeObj_1);if((GetObj('ISL_Cont_1').scrollLeft-fill_1)%PageWidth_1!=0){Comp_1=fill_1-(GetObj('ISL_Cont_1').scrollLeft%PageWidth_1);CompScr_1()}else{MoveLock_1=false}
    AutoPlay_1()};
    function ISL_ScrUp_1(){if(GetObj('ISL_Cont_1').scrollLeft<=0){GetObj('ISL_Cont_1').scrollLeft=GetObj('ISL_Cont_1').scrollLeft+GetObj('List1_1').offsetWidth}
      GetObj('ISL_Cont_1').scrollLeft-=Space_1};
      function ISL_GoDown_1(){clearInterval(MoveTimeObj_1);if(MoveLock_1)return;clearInterval(AutoPlayObj_1);MoveLock_1=true;MoveWay_1="right";ISL_ScrDown_1();MoveTimeObj_1=setInterval('ISL_ScrDown_1()',Speed_1)}
      function ISL_StopDown_1(){if(MoveWay_1 == "left"){return};clearInterval(MoveTimeObj_1);if(GetObj('ISL_Cont_1').scrollLeft%PageWidth_1-(fill_1>=0?fill_1:fill_1+1)!=0){Comp_1=PageWidth_1-GetObj('ISL_Cont_1').scrollLeft%PageWidth_1+fill_1;CompScr_1()}else{MoveLock_1=false}
        AutoPlay_1()};
        function ISL_ScrDown_1(){if(GetObj('ISL_Cont_1').scrollLeft>=GetObj('List1_1').scrollWidth){GetObj('ISL_Cont_1').scrollLeft=GetObj('ISL_Cont_1').scrollLeft-GetObj('List1_1').scrollWidth}
          GetObj('ISL_Cont_1').scrollLeft+=Space_1};
          function CompScr_1(){if(Comp_1==0){MoveLock_1=false;return};
            var num,TempSpeed=Speed_1,TempSpace=Space_1;if(Math.abs(Comp_1)<PageWidth_1/2){TempSpace=Math.round(Math.abs(Comp_1/Space_1));if(TempSpace<1){TempSpace=1}}
            if(Comp_1<0){if(Comp_1<-TempSpace){Comp_1+=TempSpace;num=TempSpace}else{num=-Comp_1;Comp_1=0}
              GetObj('ISL_Cont_1').scrollLeft-=num;setTimeout('CompScr_1()',TempSpeed)}else{if(Comp_1>TempSpace){Comp_1-=TempSpace;num=TempSpace}else{num=Comp_1;Comp_1=0}
              GetObj('ISL_Cont_1').scrollLeft+=num;setTimeout('CompScr_1()',TempSpeed)}}
              function picrun_ini(){
                GetObj("List2_1").innerHTML=GetObj("List1_1").innerHTML;
                GetObj('ISL_Cont_1').scrollLeft=fill_1>=0?fill_1:GetObj('List1_1').scrollWidth-Math.abs(fill_1);
                GetObj("ISL_Cont_1").onmouseover=function(){clearInterval(AutoPlayObj_1)}
                GetObj("ISL_Cont_1").onmouseout=function(){AutoPlay_1()}
                AutoPlay_1();
              }
              picrun_ini();
</script>
          </head>
