
<tr class="controller_permission" data-controller-id="<%= controller_permission.id %>" >
  <td><%= controller_permission.controller_name %></td>
  <td><%= controller_permission.desc %></td>
  <td><%= controller_permission.actions.join(",") %></td>
  <td><%= time_f(controller_permission.created_at) %></td>
  <td>
    <%= link_to "删除", destroy_controller_permission_admin_role_path(controller_permission, controller_permission_id: controller_permission.id), remote: true, class: "btn btn-default btn-sm", method: :delete, data: { confirm: "确认要删除吗？" } %>
  </td>
</tr>
