<tr>
  <td>
    <%= organizer.expo.name %>
  </td>
  <td>
    <%= organizer.user.username unless organizer.user.nil? %>
  </td>
  <td>
    <%= organizer.company_name %>
  </td>
  <td>
    <%= organizer.real_name %>
  </td>
  <td>
    <%= organizer.mobile %>
  </td>
  <td><%= time_f(organizer.created_at) %></td>
  <td>
    <%= operation_to @role_actions,'显示', card_organizer_path(organizer),  class: "btn btn-default btn-sm"  %>
    <%= operation_to @role_actions,'编辑', edit_card_organizer_path(organizer),  class: "btn btn-default btn-sm"  %>
    <%= operation_to @role_actions, '删除',  card_organizer_path(organizer), method: :delete , class: "btn btn-default btn-sm", data: { confirm: "确认要删除吗？"}   %>
  </td>
</tr>
