<tr>
  <td>
    <%= card.sn %>
  </td>
  <td>
    <%= card.card_type.name %>
  </td>
  <td><%= time_f(card.created_at) %></td>
  <td>
    <%= link_to '通过',  card_is_ok_card_check_index_path(id: card.id), method: :put , class: "btn btn-success btn-sm" %>
    <%= link_to '不通过',  card_is_not_ok_card_check_index_path(id: card.id), method: :put , class: "btn btn-danger btn-sm" %>
  </td>
</tr>
