<%= simple_form_for [:admin, @user] ,html: {class: 'form-horizontal'},  defaults: { } do |f| %>
  <%= f.input :username, label: '用户名' %>
  <%= f.input :email, label: '邮箱' %>
  <%= f.association :role, prompt: "选择所属角色", label_method: :desc, label: "角色" %>
  <%= f.input :password, label: '密码' %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-12 col-sm-offset-2">
    <%= link_to  admin_users_path, class: "btn btn-default" do%>
      返 回
    <% end %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      保 存
    <% end %>
  </div>
<% end %>
