<tr>
  <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
  <td>
    <%= user.username %>
  </td>
  <td><%= user.role.desc %></td>
  <td><%= time_f(user.created_at) %></td>
  <td><%= user.last_sign_in_ip %></td>
  <td>
    <a href class="<%= user.access_locked? ? '' : 'active' %>" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
  </td>
  <td>
    <%= operation_to @role_actions,'显示', admin_user_path(user),  class: "btn btn-default btn-sm"  %>
    <%= operation_to @role_actions,'编辑', edit_admin_user_path(user),  class: "btn btn-default btn-sm"  %>
    <%= operation_to @role_actions,user.access_locked? ? '启用' : '停用',  admin_user_path(user), method: :delete , class: "btn btn-default btn-sm" %>
  </td>
</tr>
