<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>会展中心</title>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="/marvel - MultiShop Responsive HTML5 Template">
<meta name="author" content="pixelgeeklab.com">
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<%= stylesheet_link_tag "front/application" , media: "all" %>
<%= javascript_include_tag "front/application" %>
<%= yield :head %>
<%= csrf_meta_tags %>
<!-- Vendor CSS -->

</head>
<body>
<%= yield %>
</body>
</html>
