
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>完善个人资料</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag "back/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="app app-header-fixed  ">
      <%= simple_form_for( [:users,@professional_visitor],  wrapper: :normal, defaults: { label: false,input_html: { class: 'form-control no-border' } }  ) do |f| %>
        <div class="container w-xxl w-auto-xs">
          <span class="navbar-brand block m-t">完善个人资料</span>
          <div class="m-b-lg">
            <div class="text-danger wrapper text-center">
              <%= flash_messages %>
            </div>
            <div class="list-group list-group-sm">
              <div class="list-group-item">
                <%= f.input :real_name,  placeholder: "真实姓名", required: true, autofocus: true %>
              </div>
              <div class="list-group-item">
                <%= f.input :mobile,  placeholder: "手机", required: true  %>
              </div>
              <div class="list-group-item">
                <%= f.input :age, as: :integer, placeholder: "年龄", required: true  %>
              </div>
            </div>
            <%= f.button :submit, "提交", class: "btn btn-lg btn-info btn-block" %>
          </div>
          <div class="text-center">
            <p>
              <small class="text-muted"> &copy; 2015</small>
            </p>
          </div>
        </div>
      <% end %>

    </div>

    <%= javascript_include_tag "back/application" %>

  </body>
</html>
