<p id="notice"><%= notice %></p>

<h1>Listing Mod First Mod Homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mod_first_mod_homes.each do |mod_first_mod_home| %>
      <tr>
        <td><%= link_to 'Show', mod_first_mod_home %></td>
        <td><%= link_to 'Edit', edit_mod_first_mod_home_path(mod_first_mod_home) %></td>
        <td><%= link_to 'Destroy', mod_first_mod_home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_mod_first_mod_home_path %>
