<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal', method: :put } ) do |f| %>
  <%= f.input :username, label: '用户名', readonly: true %>
  <%= f.input :type, label: '用户类型', readonly: true %>
  <%= f.input :email, label: '邮箱' %>
  <% if resource.type == "professional_visitor" %>
    <%= f.simple_fields_for :professional_visitor do |pv| %>
      <%= pv.input :real_name, label: '姓名' %>
      <%= pv.input :english_name, label: '英文名' %>
      <%= pv.input :sex, collection: Settings.professional_visitor.sex, label: '性别'  %>
      <%= pv.input :company_name, label: '公司名称' %>
      <%= pv.input :company_addr, label: '公司地址' %>
      <%= pv.input :job, label: '职位' %>
      <%= pv.input :department, label: '部门' %>
      <%= pv.input :area, collection: Settings.professional_visitor.area, label: '国家/地区' %>
      <%= pv.input :mobile, label: '手机' %>
      <%= pv.input :phone, label: '座机' %>
      <%= pv.input :fax, label: '传真' %>
      <%= pv.input :qq, label: 'QQ' %>
      <%= pv.input :weixin, label: '微信号' %>
      <%= pv.input :website, label: '网址' %>
    <% end %>
  <% end %>
  <% if resource.type == "exhibitor" %>
    <%= f.simple_fields_for :exhibitor do |ex| %>
      <%= ex.input :real_name, label: '联系人' %>
      <%= ex.input :phone,  label: '座机' %>
      <%= ex.input :mobile, label: '手机' %>
      <%= ex.input :scopes, as: :check_boxes, collection: Settings.exhibitor.scopes, :item_wrapper_class => 'inline', label: '参展范围' %>
    <% end %>
  <% end %>
  <%= f.input :current_password, label: '原密码' %>
  <%= f.input :password, label: '新密码' %>
  <%= f.input :password_confirmation, label: '确认新密码' %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-12 col-sm-offset-2">
    <%= link_to  admin_users_path, class: "btn btn-default" do%>
      返 回
    <% end %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      保 存
    <% end %>
  </div>
<% end %>
